# Folders
/jobs/
# devcontainer artifacts
/.dotnet/
/.cache/
/.vscode-remote/

# uv
.venv/
uv.lock.local

# Files
configuracion_*.json
informe*.pdf
hypo.dat
requirements.lock.txt

# Extensions
*.npy
*.log

# Generated Folders
.coverage/
*/ruff_cache/*
**/__pycache__/*
.ruff_cache/
