# deps
.venv/
node_modules/

# cache
**/__pycache__/*
.ruff_cache/

# coverage reports
.coverage
.coverage.*
coverage.json
htmlcov/

# runtime outputs
data
/jobs/
hypo.dat
*.npy
*.log

# Local scientific toolchain (written by scripts/setup.sh)
.tsdhn/
