# Folders
/jobs/
# devcontainer artifacts
/.dotnet/
/.cache/
/.vscode-remote/

# Files
configuracion_*.json
informe*.pdf
hypo.dat

# Extensions
*.npy
*.log

# Generated Folders
.coverage/
*/ruff_cache/*
**/__pycache__/*
.ruff_cache/
